/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

<<<<<<< HEAD
:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}

.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
=======
.page.theme_light {
  --cover-image: url(../images/cover-image-light.png);
  --accent-clr: #ff8dcb;
  --accent-clr-with-background: #353430;
  --accent-heading-clr: #ffc2e6;
  --text-clr: #353430;
  --button-hover-clr: #32312d66;
  --decorative-bracket-clr: #353430;
  --menu-clr: #353430;
  --rec-decoration-clr: transparent;
  --heading-clr: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --cover-image: url(../images/cover-image-light.png);
    --accent-clr: #ff8dcb;
    --accent-clr-with-background: #353430;
    --accent-heading-clr: #ffc2e6;
    --text-clr: #353430;
    --button-hover-clr: #32312d66;
    --decorative-bracket-clr: #353430;
    --menu-clr: #353430;
    --rec-decoration-clr: transparent;
    --heading-clr: #353430;
  }
>>>>>>> 7ab9c50 (Project)
}
