/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
  
/* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
.page {
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  margin: 0 auto;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  padding-block-start: 50px;
  max-inline-size: 1024px;
}

.container-row-type {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-block-start: 40px;
}

.link {
  border: 1.5px solid transparent;
  outline: none;
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--accent-color);
}

.link:hover {
  border-block-end: 1.5px solid var(--main-text-color);
}

.link:focus-visible {
  border: 1.5px solid var(--main-text-color);
}

.title-decor {
  color: var(--main-text-color);
}

/* section - одинаковые стили для всех секций */

.section__title {
  padding-bottom: 20px;
  color: var(--section-title-color);
  font-weight: var(--main-title-weight);
  font-size: var(--regular-size);
}

.section__item-title {
  color: var(--sub-title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  background-color: var(--accent-color);
}

.section__item-subtitle {
  color: var(--sub-title-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 23.4px;
  background-color: var(--accent-color);
}

.section__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-inline-size: 100%;
}

/* header */

.header {
  color: var(--dark-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header__container {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  padding-block-start: clamp(75px, 20vw, 192px);
  padding-block-end: 66px;
  min-block-size: 668px;
  block-size: 100vh;
}

.header__container::before {
  content: url(../images/angle-right.svg);
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25.04px;
  height: 25px;
}

.header__container::after {
  content: url(../images/angle-left.svg);
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25.04px;
  height: 25px;
}

.header__theme-menu {
  justify-self: end;
}

.header__title {
  justify-self: start;
  align-self: center;
  color: var(--main-title-color);
  font-weight: bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__text {
  justify-self: end;
  align-self: end;
  color: var(--sub-title-color);
  font-weight: bold;
  background-color: var(--accent-color);
  min-inline-size: 355px;
  inline-size: 47.67vw;
  max-inline-size: 491px;
  block-size: 117px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  border-block-end: 1px solid transparent;
  padding: 0;
  padding-inline-start: 13px;
  padding-inline-end: 13px;
  padding-block-end: 4px;
  color: var(--button-color);
  font-weight: normal;
  font-size: 18px;
  text-transform: lowercase;
  background: none;
  cursor: pointer;
  inline-size: 70px;
  block-size: 26px;
}

.header__theme-menu-button_active {
  border: 1px solid var(--button-color);
  padding: 0;
  padding-block-end: 4px;
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-border-hover);
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--button-border-focus);
  outline: none;
}

.header__decorative-element {
  position: absolute;
  top: 10px;
  right: 35px;
  display: none;
  width: 33px;
  height: 26px;
  background-image: url(../images/header__decorative-element.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.header__decorative-element::after {
  content: url(../images/header__decorative-after-element.png);
  position: absolute;
  top: 2.5px;
  left: 34px;
  object-fit: cover;
  object-position: center;
  filter: drop-shadow(0px 0px (#ff0070));
}

/* why */

.why__container {
  padding-block-start: 40px;
}

/* concentration */

.concentration__item {
  min-inline-size: 100%;
}

/* recomendations */

.recomendations__container {
  padding-block-start: 50px;
}

.recomendations__list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.recomendations__item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.recomendations__item-title {
  margin-block-end: 20px;
}

/* images */

.images__container {
  padding-block-end: 40px;
}

.images__title {
  margin-block-end: 10px;
}

.images__list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(5, min-content);
  grid-template-areas:
    "sunset"
    "ice-cream"
    "tape"
    "books"
    "street";
  gap: 10px;
}

.images__item-image {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.sunset__item {
  grid-area: sunset;
  block-size: 142px;
}

.ice-cream__item {
  grid-area: ice-cream;
  block-size: 355px;
}

.tape__item {
  grid-area: tape;
  block-size: 237px;
}

.books__item {
  grid-area: books;
  block-size: 355px;
}

.street__item {
  grid-area: street;
  block-size: 237px;
}

/* footer */

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-inline-size: 1024px;
  min-block-size: 668px;
  block-size: 100vh;
}

.footer__title {
  color: var(--main-title-color);
  font-weight: bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  text-align: center;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.footer::before {
  content: url(/images/angle-right.svg);
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
}

.footer::after {
  content: url(/images/angle-left.svg);
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
}

@media (min-width: 768px) {
  .container {
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    padding-block-start: 80px;
  }

  .section__title {
    padding-block-end: 0;
  }

  .section__item {
    min-inline-size: 355px;
    inline-size: 61.46vw;
    max-inline-size: 649px;
  }

  .header__container {
    padding-inline-start: 0;
  }

  .header__theme-menu {
    align-self: start;
    margin-block-start: 112px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__text {
    margin-block-end: 117px;
  }

  .header__container::before {
    top: 20px;
    right: 20px;
  }

  .header__container::after {
    bottom: 20px;
    left: 20px;
  }

  .header__decorative-element {
    top: 20px;
    right: 48px;
    width: 33px;
    height: 26px;
  }

  .header__decorative-element::after {
    top: 2.5px;
    left: 35px;
    width: 9px;
    height: 9px;
  }

  .concentration__item {
    min-inline-size: 100%;
  }

  .why__title {
    padding-block-start: 0;
  }

  .why__container {
    padding-block-start: 60px;
  }

  .container-row-type {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 20px;
    padding-block-start: 60px;
  }

  .recomendations__container {
    padding-block-start: 80px;
  }

  .concentration__title {
    width: min-content;
    padding-block-end: 20px;
  }

  .images__title {
    margin-block-end: 20px;
  }

  .images__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, min-content);
    grid-template-areas:
      "sunset sunset ice-cream"
      "tape books ice-cream"
      "tape street street";
    gap: 20px;
  }

  .images__container {
    padding-block-end: 60px;
  }

  .sunset__item {
    grid-area: sunset;
    inline-size: 479px;
    block-size: 192px;
  }

  .ice-cream__item {
    grid-area: ice-cream;
    inline-size: 229px;
    block-size: 441px;
  }

  .tape__item {
    grid-area: tape;
    inline-size: 229px;
    block-size: 568px;
  }

  .books__item {
    grid-area: books;
    inline-size: 230px;
    block-size: 230px;
  }

  .street__item {
    grid-area: street;
    block-size: 318px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .footer::before {
    top: 20px;
    right: 20px;
  }

  .footer::after {
    bottom: 20px;
    left: 20px;
  }
}

@media (min-width: 1024px) {
  .section__item {
    inline-size: 649px;
  }

  .header__container {
    padding-block-start: 20px;
  }

  .header__title {
    margin-block-start: 35px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__theme-menu {
    justify-self: center;
    margin-inline-start: 15px;
    margin-block-start: 0;
  }

  .header__text {
    margin-block-end: 69px;
    min-inline-size: 491px;
    block-size: 70px;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .concentration__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 18px;
  }

  .concentration__item {
    min-inline-size: 315px;
    inline-size: 315px;
    max-inline-size: 315px;
  }

  .concentration__title {
    width: 315px;
  }

  .sunset__item {
    grid-area: sunset;
    inline-size: 649px;
    block-size: 260px;
  }

  .ice-cream__item {
    grid-area: ice-cream;
    inline-size: 315px;
    block-size: 595px;
  }

  .tape__item {
    grid-area: tape;
    inline-size: 315px;
    block-size: 768px;
  }

  .books__item {
    grid-area: books;
    inline-size: 315px;
    block-size: 315px;
  }

  .street__item {
    grid-area: street;
    block-size: 428px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
