:root {
  --background-color: #000028;
  --main-title-color: #db00ff;
  --accent-color: #ff0070;
  --section-title-color: #ff0070;
  --angle-color: #ff0070;
  --main-text-weight: normal;
  --sub-title-color: #000028;
  --main-text-color: #f1b2ce;
  --main-title-weight: bold;
  --objects-display: block;
  --button-color: #000028;
  --button-border-focus: #ff0070;
  --button-border-hover: rgba(255, 0, 112, 0.4);
}
